
<div class="col-lg-12 col-xs-12">
  <div class="box box-widget widget-user-2">

      <div class="box-header with-border">
          <h3 class="box-title">Informasi</h3>

          <div class="box-tools pull-right">
          <%= link_to raw('<i class="fa fa-list"></i> View All'), beritas_path, class: "btn btn-box-tool btn-default" %>
          </div>
      </div>
      
      <div class="box-footer no-padding">
          <ul class="nav nav-stacked">

            <% @berita.each do |b| %>
            <li><a href="#"><%= b.judul %></a></li>
            <% end %>
          </ul>
      </div>
  </div>
</div>

<div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>150</h3>

              <p>New Orders</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>53<sup style="font-size: 20px">%</sup></h3>

              <p>Bounce Rate</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>44</h3>

              <p>User Registrations</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>65</h3>

              <p>Unique Visitors</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
          
          <!-- /.nav-tabs-custom -->

          <!-- Chat box -->
          <div class="box box-success">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ucAL7MAXFT4" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <!-- /.box (chat box) -->

          <!-- TO DO List -->
          <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title">Kalender Kerja Praktek</h3>

            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <ul class="todo-list">
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Pendaftaran KP</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 19 September 2017</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Akhir Bimbingan KP </span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 10 Januari 2018</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Pendaftaran seminar KP di adm</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 12 Januari 2018</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Pengumuman jadwal sidang KP</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 22 Januari 2018</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Seminar KP</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 25 - 27 Januari 2018</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Revisi Seminar KP</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 29 Jan - 2 Feb 2018</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Pengumpulan notulen revisi penguji + perpus</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 3 February 2018</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Pengumpulan Hardcover KP</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 8 February 2018</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Pengumuman Hasil Sidang KP</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 16 February 2018</small>
                </li>                
              </ul>
            </div>
          </div>

          <!-- quick email widget -->
          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-envelope"></i>

              <h3 class="box-title">Quick Email</h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
              </div>
              <!-- /. tools -->
            </div>
            <div class="box-body">
              <form action="#" method="post">
                <div class="form-group">
                  <input type="email" class="form-control" name="emailto" placeholder="Email to:">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" placeholder="Subject">
                </div>
                <div>
                  <textarea class="textarea" placeholder="Message" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                </div>
              </form>
            </div>
            <div class="box-footer clearfix">
              <button type="button" class="pull-right btn btn-default" id="sendEmail">Send
                <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          </div>

        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">

          <!-- TO DO List -->
          <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title">Kalender Skripsi/TA</h3>

            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <ul class="todo-list">
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Pendaftaran skripsi & sidang proposal</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 18 September 2017</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Pengumuman sidang proposal</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 22 September 2017</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Sidang Proposal</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 25 - 29 September 2017</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Revisi Sidang Proposal</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 2 - 6 Oktober 2017</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Akhir Bimbingan Skripsi</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 10 Januari 2018</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Kelayakan sidang oleh pembimbing</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 11 Januari 2018</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Pengumuman kelayakan sidang di web</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 20 Januari 2018</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Pendaftaran sidang pendadaran di adm</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 23 Januari 2018</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Pengumuman Jadwal Sidang</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 27 Januari 2018</small>
                </li>  

                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Sidang Pendadaran</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 29 Jan - 2 Feb 2018</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Akhir Revisi Sidang Pendadaran</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 09 February 2018</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Pengumpulan notulen revisi penguji + perpus</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 10 February 2018</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Pengumpulan Hardcover Skripsi</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 14 February 2018</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">Pengumuman Hasil Sidang</span>
                  <small class="label label-info"><i class="fa fa-clock-o"></i> 16 February 2018</small>
                </li>  
                
                <li>
                  <span class="handle"><i class="fa fa-ellipsis-v"></i></span>
                  <span class="text">NB: Pengumuman sewaktu-waktu dapat berubah, diwajibkan rajin membaca pengumuman.</span>
                </li>                
              </ul>
            </div>
          </div>



          <!-- solid sales graph -->
          <div class="box box-solid bg-teal-gradient">
            <div class="box-header">
              <i class="fa fa-th"></i>

              <h3 class="box-title">Sales Graph</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div class="box-body border-radius-none">
              <div class="chart" id="line-chart" style="height: 250px;"></div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-border">
              <div class="row">
                <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                  <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60" data-fgColor="#39CCCC">

                  <div class="knob-label">Mail-Orders</div>
                </div>
                <!-- ./col -->
                <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                  <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60" data-fgColor="#39CCCC">

                  <div class="knob-label">Online</div>
                </div>
                <!-- ./col -->
                <div class="col-xs-4 text-center">
                  <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60" data-fgColor="#39CCCC">

                  <div class="knob-label">In-Store</div>
                </div>
                <!-- ./col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->

          <!-- Calendar -->
          <div class="box box-solid bg-green-gradient">
            <div class="box-header">
              <i class="fa fa-calendar"></i>

              <h3 class="box-title">Calendar</h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <!-- button with a dropdown -->
                <div class="btn-group">
                  <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bars"></i></button>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">Add new event</a></li>
                    <li><a href="#">Clear events</a></li>
                    <li class="divider"></li>
                    <li><a href="#">View calendar</a></li>
                  </ul>
                </div>
                <button type="button" class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                </button>
              </div>
              <!-- /. tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <!--The calendar -->
              <div id="calendar" style="width: 100%"></div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-black">
              <div class="row">
                <div class="col-sm-6">
                  <!-- Progress bars -->
                  <div class="clearfix">
                    <span class="pull-left">Task #1</span>
                    <small class="pull-right">90%</small>
                  </div>
                  <div class="progress xs">
                    <div class="progress-bar progress-bar-green" style="width: 90%;"></div>
                  </div>

                  <div class="clearfix">
                    <span class="pull-left">Task #2</span>
                    <small class="pull-right">70%</small>
                  </div>
                  <div class="progress xs">
                    <div class="progress-bar progress-bar-green" style="width: 70%;"></div>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                  <div class="clearfix">
                    <span class="pull-left">Task #3</span>
                    <small class="pull-right">60%</small>
                  </div>
                  <div class="progress xs">
                    <div class="progress-bar progress-bar-green" style="width: 60%;"></div>
                  </div>

                  <div class="clearfix">
                    <span class="pull-left">Task #4</span>
                    <small class="pull-right">40%</small>
                  </div>
                  <div class="progress xs">
                    <div class="progress-bar progress-bar-green" style="width: 40%;"></div>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
          <!-- /.box -->

        </section>