<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Tambah Daftar Kelas</h3>

    <div class="box-tools pull-right">
        <%= link_to raw('<i class="fa fa-list"></i> List'), kelas_path, class: "btn btn-box-tool btn-default" %>
    </div>
  </div>
  <%= render 'form', kela: @kela %>
</div>