<!-- /.box-header -->
<%= form_for @data do |f| %>
<div class="box-body">
    <div class="row">
    <!-- /.col -->
    <div class="col-md-12">

        <div class="form-group">
        <%= f.label :name %>
        <!--<label>Nama Mata Pelajaran</label>-->
        <%= f.text_field :name, class: "form-control", placeholder: "Masukkan Nilai" %>
        <!--<input type="text" class="form-control"  placeholder="Masukkan Nilai">-->
        </div>
        <!-- /.form-group -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->

</div>
<!-- /.box-body -->

<div class="box-footer">
<!--<button type="submit" class="btn btn-default">Cancel</button>-->
<button type="submit" class="btn btn-info pull-right">Submit</button>
</div>

<% end %>