  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
    <strong>Copyright &copy; 2014-<%= Time.current.year %> <a href="http://www.mdp.ac.id/">STMIK MDP</a>.</strong> All rights
    reserved.
  </footer>